.footer {
    background-color: #6ec1e4;
    color: white;
    text-align: center;
    padding: 10px;
  }

.footer h1{
  font-size: 1rem; 
  color: #ffffff; 
  margin-bottom: 20px;
  text-align: center; 
  line-height: 1.3; 
  }

  